.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: brown;
  color: black(158, 157, 157); */
  text-align: center;
  font-size: 16px;
}

/* table, td, th {
 border: 3px solid black;
 padding: 0.5rem;
}

td, th {
  text-align: center;
  background-color: white;
}

th {
  background-color: rgb(90, 83, 83);
  color: white;
} */

body {
  background-color: white;
}

/* #total-issues {
  background-color: gray;
}

#total-returned {
  background-color: gray;
}

#books-pending {
  background-color: gray;
} */
